$primary: blue;
$secondary: magenta;
$third: cyan;

// Font
//$fs_base: 16px;

// Breakpoints
$sm: 600px;
$md: 900px;
$lg: 1200px;

// Grid
$container_max: 1280px;
$total_col: 12;
$gutter: 10;
//$gutterbuttons: 