body {
  margin: 0;
  /* vire les bords blanc sur le navigateur		   */
  font-family: "BwModelica"; }
  body .greytitle {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
    color: grey; }
    body .greytitle.left {
      text-align: left; }
  body .title-feed {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 30px; }
  body .title-tabs {
    font-size: 34px;
    padding-bottom: 35px; }
  body .lorem-grey {
    font-size: 16px;
    color: grey;
    line-height: 200%; }
  body .greysquare {
    height: 200px;
    width: 360px;
    background: lightgrey; }
  body .greysquare4tab {
    background: #dbddde;
    padding: 50px; }
  body .greysquare.first {
    margin-top: 175px; }
  body .greysquare.under-tabs {
    width: 1220px;
    height: 100px; }
