header nav {
  height: 80px; }
  header nav .logo {
    float: left;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    font-family: "BwModelica"; }
    header nav .logo a {
      color: #2e2e2e; }
    header nav .logo ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 0;
      margin: 0;
      list-style: none; }
      header nav .logo ul li.active {
        position: relative; }
        header nav .logo ul li.active:after {
          content: "";
          display: block;
          width: 100%;
          height: 5px;
          background: blueviolet;
          position: absolute;
          bottom: 0; }
      header nav .logo ul li:first-child {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
      header nav .logo ul li a {
        display: block;
        padding: 30px 10px;
        text-decoration: none; }
      header nav .logo ul li.violetsquare {
        background: #6270ff;
        padding: 27px 0px;
        width: 80px; }
  header nav .bluepad {
    padding: 50px;
    background: #444dad;
    text-align: center;
    color: white;
    font-size: 50px; }
