.onglets {
  .tabs-nav {
    .tab {
      display:block;
      background: #bBBBBB;

      //padding:15px 20px;
      color:black;
      transition:300ms;

      .tab:first-child {
          margin-top:5px;
      }
      &.tabs-nav-item--active {         

         background: #dbddde;
      }
      div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
      }
  }

  }

  .tabs-content {
      &.tabs-content--inactive {
          display:none;
      }
  }
} 