.gradient--blue-purple {
  /* FF3.6-15 */
  background: -moz-linear-gradient 45deg, #79ccff 0%, #9b74ff 100%;
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient 45deg, #79ccff 0%, #9b74ff 100%;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient 45deg, #79ccff 0%, #9b74ff 100%; }

.gradient--turquoise-purple {
  /* FF3.6-15 */
  background: -moz-linear-gradient 45deg, #1affec 0%, #8012fc 100%;
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient 45deg, #1affec 0%, #8012fc 100%;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient 45deg, #1affec 0%, #8012fc 100%; }

.gradient--yellow-pink {
  /* FF3.6-15 */
  background: -moz-linear-gradient 45deg, #fff600 0%, #ff00d8 100%;
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient 45deg, #fff600 0%, #ff00d8 100%;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient 45deg, #fff600 0%, #ff00d8 100%; }

.gradient--green-blue {
  /* FF3.6-15 */
  background: -moz-linear-gradient 45deg, #79ff8f 0%, #79ccff 100%;
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient 45deg, #79ff8f 0%, #79ccff 100%;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient 45deg, #79ff8f 0%, #79ccff 100%; }
