.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 2em; }

.btn-green {
  border-radius: 0; }
  .btn-green:hover {
    background: #26ab5f;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .btn-green:active {
    background: #176437; }

.btn-blue {
  border-radius: 50%; }
  .btn-blue:hover {
    background: #2383c4;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .btn-blue:active {
    background: #16527a; }

.btn-yellow {
  border-radius: 0; }
  .btn-yellow:hover {
    background: #cba50c;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .btn-yellow:active {
    background: #796307; }

.btn-red {
  border-radius: 0; }
  .btn-red:hover {
    background: #df2e1b;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .btn-red:active {
    background: #921e12; }
