body{  
  margin: 0; 				/* vire les bords blanc sur le navigateur		   */

  font: {
  //size: 14px;
  family: "BwModelica";
  }
  
  .greytitle{
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
    color: grey;

    &.left{ // !!!!!!!!!!!!!!!!!!!
      text-align: left;
    }
  }


  .title-feed {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 30px;
  }

  .title-tabs{
    font-size: 34px;
    padding-bottom: 35px;
  }

  .lorem-grey{
    font-size: 16px;
    color: grey;
    line-height: 200%;

  }

  .greysquare{
    height: 200px;
    width: 360px;
    background: lightgrey;
  }

  .greysquare4tab{
    background: #dbddde;
    padding:50px;
  }


  //j'aurais dû imbriqué 2 col-sm-6 pour eviter cela
  .greysquare.first{
    margin-top: 175px;
  }

  .greysquare.under-tabs{
  width: 1220px;
  height: 100px;
  }
}


