svg path {
    fill: red;
}

header {
    padding: 0 0 80px 0;
    .logo {
        // float: left;
        // padding: 10px 0;
        display: flex;
        align-items: center;
    }
    a {
        color: #2e2e2e;
    }
    text: {
        align: center;
    }
    font: {
        size: 14px;
        family: "BwModelica";
    }
    ul {
        display: flex;
        // justify-content:
        //       flex-start | flex-end | center | space-between | space-around
        justify-content: space-between;
        //align-items:
        //       flex-start | flex-end | center | baseline | stretch
        align-items: stretch;
        flex-direction: row;
        padding: 0;
        margin: 0;
        list-style: none; //enlève les points deg
        //height:50px;
        li {
            &.active {
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 5px;
                    background: blueviolet;
                    position: absolute;
                    bottom: 0;
                }
                // border-bottom gradient
            }
            &:first-child {
                flex-grow: 1; // prend la place restante
            }
            a {
                display: block;
                padding: 30px 10px;
                text-decoration: none;
            }
            &.violetsquare {
                background: #6270ff;
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center; //alignement par rapport au sens du flex (row de base)
                justify-content: center; //horizontalement
                .img {
                    line-height: 80px;
                }
            }
        }
    }
}

.bluepad {
    padding: 50px;
    background: #444dad;
    text-align: center;
    color: white;
    font: {
        size: 50px;
    }
}

// header{
//   display: none;
// }