iframe {
  width: 100%;
  border: none;
  height: 60px; }

@font-face {
  font-family: "BwModelica";
  src: url("../font/BwModelica-Medium.otf"); }

.feed {
  width: calc(100% - 50px);
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 80px; }

.col-xs-1 {
  width: calc(8.33333% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-1.large {
  width: calc(8.33333% - 100px);
  margin: 0 50px; }

.col-xs-2 {
  width: calc(16.66667% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-2.large {
  width: calc(16.66667% - 100px);
  margin: 0 50px; }

.col-xs-3 {
  width: calc(25% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-3.large {
  width: calc(25% - 100px);
  margin: 0 50px; }

.col-xs-4 {
  width: calc(33.33333% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-4.large {
  width: calc(33.33333% - 100px);
  margin: 0 50px; }

.col-xs-5 {
  width: calc(41.66667% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-5.large {
  width: calc(41.66667% - 100px);
  margin: 0 50px; }

.col-xs-6 {
  width: calc(50% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-6.large {
  width: calc(50% - 100px);
  margin: 0 50px; }

.col-xs-7 {
  width: calc(58.33333% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-7.large {
  width: calc(58.33333% - 100px);
  margin: 0 50px; }

.col-xs-8 {
  width: calc(66.66667% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-8.large {
  width: calc(66.66667% - 100px);
  margin: 0 50px; }

.col-xs-9 {
  width: calc(75% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-9.large {
  width: calc(75% - 100px);
  margin: 0 50px; }

.col-xs-10 {
  width: calc(83.33333% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-10.large {
  width: calc(83.33333% - 100px);
  margin: 0 50px; }

.col-xs-11 {
  width: calc(91.66667% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-11.large {
  width: calc(91.66667% - 100px);
  margin: 0 50px; }

.col-xs-12 {
  width: calc(100% - 20px);
  margin: 0 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.col-xs-12.large {
  width: calc(100% - 100px);
  margin: 0 50px; }

@media (min-width: 768px) {
  .col-sm-1 {
    width: calc(8.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-1.large {
    width: calc(8.33333% - 100px);
    margin: 0 50px; }
  .col-sm-2 {
    width: calc(16.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-2.large {
    width: calc(16.66667% - 100px);
    margin: 0 50px; }
  .col-sm-3 {
    width: calc(25% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-3.large {
    width: calc(25% - 100px);
    margin: 0 50px; }
  .col-sm-4 {
    width: calc(33.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-4.large {
    width: calc(33.33333% - 100px);
    margin: 0 50px; }
  .col-sm-5 {
    width: calc(41.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-5.large {
    width: calc(41.66667% - 100px);
    margin: 0 50px; }
  .col-sm-6 {
    width: calc(50% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-6.large {
    width: calc(50% - 100px);
    margin: 0 50px; }
  .col-sm-7 {
    width: calc(58.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-7.large {
    width: calc(58.33333% - 100px);
    margin: 0 50px; }
  .col-sm-8 {
    width: calc(66.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-8.large {
    width: calc(66.66667% - 100px);
    margin: 0 50px; }
  .col-sm-9 {
    width: calc(75% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-9.large {
    width: calc(75% - 100px);
    margin: 0 50px; }
  .col-sm-10 {
    width: calc(83.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-10.large {
    width: calc(83.33333% - 100px);
    margin: 0 50px; }
  .col-sm-11 {
    width: calc(91.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-11.large {
    width: calc(91.66667% - 100px);
    margin: 0 50px; }
  .col-sm-12 {
    width: calc(100% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-sm-12.large {
    width: calc(100% - 100px);
    margin: 0 50px; } }

@media (min-width: 992px) {
  .col-md-1 {
    width: calc(8.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-1.large {
    width: calc(8.33333% - 100px);
    margin: 0 50px; }
  .col-md-2 {
    width: calc(16.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-2.large {
    width: calc(16.66667% - 100px);
    margin: 0 50px; }
  .col-md-3 {
    width: calc(25% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-3.large {
    width: calc(25% - 100px);
    margin: 0 50px; }
  .col-md-4 {
    width: calc(33.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-4.large {
    width: calc(33.33333% - 100px);
    margin: 0 50px; }
  .col-md-5 {
    width: calc(41.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-5.large {
    width: calc(41.66667% - 100px);
    margin: 0 50px; }
  .col-md-6 {
    width: calc(50% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-6.large {
    width: calc(50% - 100px);
    margin: 0 50px; }
  .col-md-7 {
    width: calc(58.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-7.large {
    width: calc(58.33333% - 100px);
    margin: 0 50px; }
  .col-md-8 {
    width: calc(66.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-8.large {
    width: calc(66.66667% - 100px);
    margin: 0 50px; }
  .col-md-9 {
    width: calc(75% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-9.large {
    width: calc(75% - 100px);
    margin: 0 50px; }
  .col-md-10 {
    width: calc(83.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-10.large {
    width: calc(83.33333% - 100px);
    margin: 0 50px; }
  .col-md-11 {
    width: calc(91.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-11.large {
    width: calc(91.66667% - 100px);
    margin: 0 50px; }
  .col-md-12 {
    width: calc(100% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-md-12.large {
    width: calc(100% - 100px);
    margin: 0 50px; } }

@media (min-width: 1180px) {
  .col-lg-1 {
    width: calc(8.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-1.large {
    width: calc(8.33333% - 100px);
    margin: 0 50px; }
  .col-lg-2 {
    width: calc(16.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-2.large {
    width: calc(16.66667% - 100px);
    margin: 0 50px; }
  .col-lg-3 {
    width: calc(25% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-3.large {
    width: calc(25% - 100px);
    margin: 0 50px; }
  .col-lg-4 {
    width: calc(33.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-4.large {
    width: calc(33.33333% - 100px);
    margin: 0 50px; }
  .col-lg-5 {
    width: calc(41.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-5.large {
    width: calc(41.66667% - 100px);
    margin: 0 50px; }
  .col-lg-6 {
    width: calc(50% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-6.large {
    width: calc(50% - 100px);
    margin: 0 50px; }
  .col-lg-7 {
    width: calc(58.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-7.large {
    width: calc(58.33333% - 100px);
    margin: 0 50px; }
  .col-lg-8 {
    width: calc(66.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-8.large {
    width: calc(66.66667% - 100px);
    margin: 0 50px; }
  .col-lg-9 {
    width: calc(75% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-9.large {
    width: calc(75% - 100px);
    margin: 0 50px; }
  .col-lg-10 {
    width: calc(83.33333% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-10.large {
    width: calc(83.33333% - 100px);
    margin: 0 50px; }
  .col-lg-11 {
    width: calc(91.66667% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-11.large {
    width: calc(91.66667% - 100px);
    margin: 0 50px; }
  .col-lg-12 {
    width: calc(100% - 20px);
    margin: 0 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .col-lg-12.large {
    width: calc(100% - 100px);
    margin: 0 50px; } }

.row {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 90px; }

.gradient--blue-purple {
  background: #79ccff;
  /* FF3.6-15 */
  background: -moz-linear-gradient(325deg, #79ccff 0%, #9b74ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(325deg, #79ccff 0%, #9b74ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -webkit-linear-gradient(125deg, #79ccff 0%, #9b74ff 100%);
  background: -o-linear-gradient(125deg, #79ccff 0%, #9b74ff 100%);
  background: linear-gradient(325deg, #79ccff 0%, #9b74ff 100%); }

.gradient--turquoise-purple {
  background: #1affec;
  /* FF3.6-15 */
  background: -moz-linear-gradient(0deg, #1affec 0%, #8012fc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(0deg, #1affec 0%, #8012fc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -webkit-gradient(linear, left bottom, left top, from(#1affec), to(#8012fc));
  background: -webkit-linear-gradient(bottom, #1affec 0%, #8012fc 100%);
  background: -o-linear-gradient(bottom, #1affec 0%, #8012fc 100%);
  background: linear-gradient(0deg, #1affec 0%, #8012fc 100%); }

.gradient--yellow-pink {
  background: #fff600;
  /* FF3.6-15 */
  background: -moz-linear-gradient(45deg, #fff600 0%, #ff00d8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(45deg, #fff600 0%, #ff00d8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -o-linear-gradient(45deg, #fff600 0%, #ff00d8 100%);
  background: linear-gradient(45deg, #fff600 0%, #ff00d8 100%); }

.gradient--green-blue {
  background: #79ff8f;
  /* FF3.6-15 */
  background: -moz-linear-gradient(270deg, #79ff8f 0%, #79ccff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(270deg, #79ff8f 0%, #79ccff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -webkit-gradient(linear, right top, left top, from(#79ff8f), to(#79ccff));
  background: -webkit-linear-gradient(right, #79ff8f 0%, #79ccff 100%);
  background: -o-linear-gradient(right, #79ff8f 0%, #79ccff 100%);
  background: linear-gradient(270deg, #79ff8f 0%, #79ccff 100%); }

.gradient--orange-lilas {
  background: #FFCF77;
  /* FF3.6-15 */
  background: -moz-linear-gradient(50deg, #FFCF77 0%, #A67EF0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(50deg, #FFCF77 0%, #A67EF0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -webkit-linear-gradient(40deg, #FFCF77 0%, #A67EF0 100%);
  background: -o-linear-gradient(40deg, #FFCF77 0%, #A67EF0 100%);
  background: linear-gradient(50deg, #FFCF77 0%, #A67EF0 100%); }

.gradient--magenta-purple {
  background: #FF18AC;
  /* FF3.6-15 */
  background: -moz-linear-gradient(90deg, #FF18AC 0%, #6E03FF 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(90deg, #FF18AC 0%, #6E03FF 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -webkit-gradient(linear, left top, right top, from(#FF18AC), to(#6E03FF));
  background: -webkit-linear-gradient(left, #FF18AC 0%, #6E03FF 100%);
  background: -o-linear-gradient(left, #FF18AC 0%, #6E03FF 100%);
  background: linear-gradient(90deg, #FF18AC 0%, #6E03FF 100%); }

.gradient--yellow-purple {
  background: #fff600;
  /* FF3.6-15 */
  background: -moz-linear-gradient(225deg, #fff600 0%, #8012fc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(225deg, #fff600 0%, #8012fc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -o-linear-gradient(225deg, #fff600 0%, #8012fc 100%);
  background: linear-gradient(225deg, #fff600 0%, #8012fc 100%); }

.gradient--purple-blue {
  background: #6E03FF;
  /* FF3.6-15 */
  background: -moz-linear-gradient(180deg, #6E03FF 0%, #79ccff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(180deg, #6E03FF 0%, #79ccff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -webkit-gradient(linear, left top, left bottom, from(#6E03FF), to(#79ccff));
  background: -webkit-linear-gradient(top, #6E03FF 0%, #79ccff 100%);
  background: -o-linear-gradient(top, #6E03FF 0%, #79ccff 100%);
  background: linear-gradient(180deg, #6E03FF 0%, #79ccff 100%); }

.gradient--green-orange {
  background: #79ff8f;
  /* FF3.6-15 */
  background: -moz-linear-gradient(135deg, #79ff8f 0%, #EEC555 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(135deg, #79ff8f 0%, #EEC555 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -webkit-linear-gradient(315deg, #79ff8f 0%, #EEC555 100%);
  background: -o-linear-gradient(315deg, #79ff8f 0%, #EEC555 100%);
  background: linear-gradient(135deg, #79ff8f 0%, #EEC555 100%); }

svg path {
  fill: red; }

header {
  padding: 0 0 80px 0;
  text-align: center;
  font-size: 14px;
  font-family: "BwModelica"; }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  header a {
    color: #2e2e2e; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none; }
    header ul li.active {
      position: relative; }
      header ul li.active:after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background: blueviolet;
        position: absolute;
        bottom: 0; }
    header ul li:first-child {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
    header ul li a {
      display: block;
      padding: 30px 10px;
      text-decoration: none; }
    header ul li.violetsquare {
      background: #6270ff;
      width: 80px;
      height: 80px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      header ul li.violetsquare .img {
        line-height: 80px; }

.bluepad {
  padding: 50px;
  background: #444dad;
  text-align: center;
  color: white;
  font-size: 50px; }

body {
  margin: 0;
  /* vire les bords blanc sur le navigateur		   */
  font-family: "BwModelica"; }
  body .greytitle {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
    color: grey; }
    body .greytitle.left {
      text-align: left; }
  body .title-feed {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 30px; }
  body .title-tabs {
    font-size: 34px;
    padding-bottom: 35px; }
  body .lorem-grey {
    font-size: 16px;
    color: grey;
    line-height: 200%; }
  body .greysquare {
    height: 200px;
    width: 360px;
    background: lightgrey; }
  body .greysquare4tab {
    background: #dbddde;
    padding: 50px; }
  body .greysquare.first {
    margin-top: 175px; }
  body .greysquare.under-tabs {
    width: 1220px;
    height: 100px; }

footer {
  background-color: #03062f;
  height: 50px; }
  footer .content-footer {
    width: calc(100% - 50px);
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px; }
  footer img {
    margin-top: 15px;
    width: 4%;
    height: auto; }
  footer p {
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    color: #6270ff;
    font-family: "BwModelica";
    font-size: 15px; }
  footer span.icons {
    display: inline-block;
    overflow: hidden;
    margin-left: 950px; }
    footer span.icons i {
      color: #6270ff;
      display: inline-block;
      padding-right: 15px;
      font-size: 10px; }

.main-message {
  height: 1400px; }

.grid-container-message {
  display: -ms-grid;
  display: grid;
  width: 70%;
  margin: 0 auto;
  grid-gap: 5px;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  padding: 10px; }

.grid-item-success-message {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #6270ff;
  padding-bottom: 50px; }
  .grid-item-success-message p, .grid-item-success-message h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-success-message i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }

.grid-item-error-message {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: cyan;
  padding-bottom: 50px; }
  .grid-item-error-message p, .grid-item-error-message h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-error-message i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }

.grid-item-warning-message {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #ba4eff;
  padding-bottom: 50px; }
  .grid-item-warning-message p, .grid-item-warning-message h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-warning-message i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }

.grid-item-info-message {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #ffcc44;
  padding-bottom: 50px; }
  .grid-item-info-message p, .grid-item-info-message h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-info-message i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }

.grid-item-success-message-resume {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #6270ff;
  height: 20px; }
  .grid-item-success-message-resume p, .grid-item-success-message-resume h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-success-message-resume i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-success-message-resume p, .grid-item-success-message-resume h4 {
    margin-top: 1px; }
  .grid-item-success-message-resume i {
    margin-top: -20px; }

.grid-item-error-message-resume {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #ff427c;
  height: 20px; }
  .grid-item-error-message-resume p, .grid-item-error-message-resume h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-error-message-resume i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-error-message-resume p, .grid-item-error-message-resume h4 {
    margin-top: 1px; }
  .grid-item-error-message-resume i {
    margin-top: -20px; }

.grid-item-warning-message-resume {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #ba4eff;
  height: 20px; }
  .grid-item-warning-message-resume p, .grid-item-warning-message-resume h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-warning-message-resume i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-warning-message-resume p, .grid-item-warning-message-resume h4 {
    margin-top: 1px; }
  .grid-item-warning-message-resume i {
    margin-top: -20px; }

.grid-item-info-message-resume {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #ffcc44;
  height: 20px; }
  .grid-item-info-message-resume p, .grid-item-info-message-resume h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-info-message-resume i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-info-message-resume p, .grid-item-info-message-resume h4 {
    margin-top: 1px; }
  .grid-item-info-message-resume i {
    margin-top: -20px; }

.container-message-resume {
  margin-top: 60px; }

.grid-item-success-message-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #6270ff;
  color: black;
  padding-bottom: 40px; }
  .grid-item-success-message-border p, .grid-item-success-message-border h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-success-message-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-success-message-border i {
    color: #6270ff; }

.grid-item-error-message-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #ff427c;
  color: black;
  padding-bottom: 40px; }
  .grid-item-error-message-border p, .grid-item-error-message-border h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-error-message-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-error-message-border i {
    color: #ff427c; }

.grid-item-warning-message-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid  #ba4eff;
  color: black;
  padding-bottom: 40px; }
  .grid-item-warning-message-border p, .grid-item-warning-message-border h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-warning-message-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-warning-message-border i {
    color: #ba4eff; }

.grid-item-info-message-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #ffcc44;
  color: black;
  padding-bottom: 40px; }
  .grid-item-info-message-border p, .grid-item-info-message-border h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-info-message-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-info-message-border i {
    color: #ffcc44; }

.grid-item-success-message-resume-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #6270ff;
  height: 20px; }
  .grid-item-success-message-resume-border p, .grid-item-success-message-resume-border h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-success-message-resume-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-success-message-resume-border p, .grid-item-success-message-resume-border h4 {
    margin-top: 1px;
    color: black; }
  .grid-item-success-message-resume-border i {
    margin-top: -20px;
    color: #6270ff; }

.grid-item-error-message-resume-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #ff427c;
  height: 20px; }
  .grid-item-error-message-resume-border p, .grid-item-error-message-resume-border h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-error-message-resume-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-error-message-resume-border p, .grid-item-error-message-resume-border h4 {
    margin-top: 1px;
    color: black; }
  .grid-item-error-message-resume-border i {
    margin-top: -20px;
    color: #ff427c; }

.grid-item-warning-message-resume-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #ba4eff;
  height: 20px; }
  .grid-item-warning-message-resume-border p, .grid-item-warning-message-resume-border h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-warning-message-resume-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-warning-message-resume-border p, .grid-item-warning-message-resume-border h4 {
    margin-top: 1px;
    color: black; }
  .grid-item-warning-message-resume-border i {
    margin-top: -20px;
    color: #ba4eff; }

.grid-item-info-message-resume-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #ffcc44;
  height: 20px; }
  .grid-item-info-message-resume-border p, .grid-item-info-message-resume-border h4 {
    padding: 0px 20px 3px 60px; }
  .grid-item-info-message-resume-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-info-message-resume-border p, .grid-item-info-message-resume-border h4 {
    margin-top: 1px;
    color: black; }
  .grid-item-info-message-resume-border i {
    margin-top: -20px;
    color: #ffcc44; }

.container-message-resume {
  margin-top: 60px; }

.center {
  text-align: center;
  margin-bottom: 10px;
  width: 68%; }
  .center h4 {
    display: inline-block; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 12px;
  height: 55px;
  width: 210px; }

.buttonslign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase; }

.vertical-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .vertical-tabs .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #dbddde;
    border-radius: 0;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    height: 50px;
    margin-bottom: 10px;
    color: black;
    position: relative;
    overflow: hidden; }
    .vertical-tabs .tab:hover {
      background: #c0c4c6;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .vertical-tabs .tab:active {
      background: #989ea1; }
    .vertical-tabs .tab::after {
      content: "";
      display: block;
      width: 80px;
      height: 100%;
      position: absolute;
      top: 80px;
      left: -80px;
      background-image: url("/../src/img/funi.png");
      background-repeat: no-repeat;
      background-position: bottom;
      -webkit-transition: 700ms;
      -o-transition: 700ms;
      transition: 700ms; }
    .vertical-tabs .tab:hover::after {
      left: 0;
      top: 0; }
    .vertical-tabs .tab div {
      margin-left: 60px; }
  .vertical-tabs .tab2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #dbddde;
    border-radius: 0;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    height: 50px;
    margin-bottom: 10px;
    color: black;
    position: relative;
    overflow: hidden; }
    .vertical-tabs .tab2:hover {
      background: #c0c4c6;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .vertical-tabs .tab2:active {
      background: #989ea1; }
    .vertical-tabs .tab2::after {
      content: "";
      display: block;
      width: 80px;
      height: 100%;
      position: absolute;
      top: 80px;
      left: -80px;
      background-image: url("/../src/img/funi.png");
      background-repeat: no-repeat;
      background-position: bottom;
      -webkit-transition: 700ms;
      -o-transition: 700ms;
      transition: 700ms; }
    .vertical-tabs .tab2:hover::after {
      left: 0;
      top: 0; }
    .vertical-tabs .tab2 div {
      margin-left: 60px; }
  .vertical-tabs .active {
    background: #7090ef;
    border-radius: 0;
    color: white; }
    .vertical-tabs .active:hover {
      background: #426cea;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .vertical-tabs .active:active {
      background: #1643c9; }

.horizontal-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .horizontal-tabs .tab {
    background: #dbddde;
    border-radius: 0;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    margin: 0 20px;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    height: 50px;
    color: black; }
    .horizontal-tabs .tab:hover {
      background: #c0c4c6;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .horizontal-tabs .tab:active {
      background: #989ea1; }
  .horizontal-tabs .active {
    background: #7090ef;
    border-radius: 0;
    color: white; }
    .horizontal-tabs .active:hover {
      background: #426cea;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .horizontal-tabs .active:active {
      background: #1643c9; }
  .horizontal-tabs .tab2 {
    background: #dbddde;
    border-radius: 0;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    margin: 0 20px;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    height: 50px;
    color: black; }
    .horizontal-tabs .tab2:hover {
      background: #c0c4c6;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .horizontal-tabs .tab2:active {
      background: #989ea1; }
  .horizontal-tabs .active {
    background: #7090ef;
    border-radius: 0;
    color: white; }
    .horizontal-tabs .active:hover {
      background: #426cea;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .horizontal-tabs .active:active {
      background: #1643c9; }

.onglets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px; }

.onglets2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px; }

.l1 .btn-1 {
  background: cyan;
  border-radius: 0;
  color: white;
  background: #7ae2ff;
  /* FF3.6-15 */
  background: -moz-linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -o-linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%);
  background: linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%); }
  .l1 .btn-1:hover {
    background: #00cccc;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .l1 .btn-1:active {
    background: teal; }

.l1 .btn-2 {
  background: #3498db;
  border-radius: 0;
  color: white;
  background: #7090ef;
  /* FF3.6-15 */
  background: -moz-linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -o-linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%);
  background: linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%); }
  .l1 .btn-2:hover {
    background: #217dbb;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .l1 .btn-2:active {
    background: #16527a; }

.l1 .btn-3 {
  background: #6270ff;
  border-radius: 0;
  color: white; }
  .l1 .btn-3:hover {
    background: #2f42ff;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .l1 .btn-3:active {
    background: #0014e2; }

.l1 .btn-4 {
  background: white;
  border-radius: 0px;
  position: relative; }
  .l1 .btn-4::before {
    content: '';
    display: block;
    height: 73px;
    width: 238px;
    background: -webkit-gradient(linear, right top, left top, from(magenta), to(cyan));
    background: -webkit-linear-gradient(right, magenta, cyan);
    background: -o-linear-gradient(right, magenta, cyan);
    background: linear-gradient(to left, magenta, cyan);
    position: absolute;
    border-radius: 0px;
    top: -4px;
    left: -4px;
    z-index: -1; }

.l2 .btn-1 {
  background: blue;
  border-radius: 20px;
  color: white;
  background: #7ae2ff;
  /* FF3.6-15 */
  background: -moz-linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -o-linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%);
  background: linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%); }
  .l2 .btn-1:hover {
    background: #0000cc;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .l2 .btn-1:active {
    background: navy; }

.l2 .btn-2 {
  background: #3498db;
  border-radius: 20px;
  color: white;
  background: #7090ef;
  /* FF3.6-15 */
  background: -moz-linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -o-linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%);
  background: linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%); }
  .l2 .btn-2:hover {
    background: #217dbb;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .l2 .btn-2:active {
    background: #16527a; }

.l2 .btn-3 {
  background: #6270ff;
  border-radius: 20px;
  color: white; }
  .l2 .btn-3:hover {
    background: #2f42ff;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .l2 .btn-3:active {
    background: #0014e2; }

.l2 .btn-4 {
  background: white;
  border-radius: 17px;
  position: relative; }
  .l2 .btn-4::before {
    content: '';
    display: block;
    height: 73px;
    width: 238px;
    background: -webkit-gradient(linear, right top, left top, from(magenta), to(cyan));
    background: -webkit-linear-gradient(right, magenta, cyan);
    background: -o-linear-gradient(right, magenta, cyan);
    background: linear-gradient(to left, magenta, cyan);
    position: absolute;
    border-radius: 20px;
    top: -4px;
    left: -4px;
    z-index: -1; }

.l3 .btn-1 {
  background: blue;
  border-radius: 33px;
  color: white;
  background: #7ae2ff;
  /* FF3.6-15 */
  background: -moz-linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -o-linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%);
  background: linear-gradient(45deg, #7ae2ff 0%, #7090ef 100%); }
  .l3 .btn-1:hover {
    background: #0000cc;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .l3 .btn-1:active {
    background: navy; }

.l3 .btn-2 {
  background: #3498db;
  border-radius: 33px;
  color: white;
  background: #7090ef;
  /* FF3.6-15 */
  background: -moz-linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -o-linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%);
  background: linear-gradient(45deg, #7090ef 0%, #7ae2ff 100%); }
  .l3 .btn-2:hover {
    background: #217dbb;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .l3 .btn-2:active {
    background: #16527a; }

.l3 .btn-3 {
  background: #6270ff;
  border-radius: 33px;
  color: white; }
  .l3 .btn-3:hover {
    background: #2f42ff;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .l3 .btn-3:active {
    background: #0014e2; }

.l3 .btn-4 {
  background: white;
  border-radius: 33px;
  position: relative; }
  .l3 .btn-4::before {
    content: '';
    display: block;
    height: 73px;
    width: 238px;
    background: -webkit-gradient(linear, right top, left top, from(magenta), to(cyan));
    background: -webkit-linear-gradient(right, magenta, cyan);
    background: -o-linear-gradient(right, magenta, cyan);
    background: linear-gradient(to left, magenta, cyan);
    position: absolute;
    border-radius: 33px;
    top: -4px;
    left: -4px;
    z-index: -1; }

.shadow {
  -webkit-box-shadow: 0px 20px 25px -27px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 20px 25px -27px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 25px -27px rgba(0, 0, 0, 0.75); }

.feed.grad .row div {
  height: 350px;
  width: 350px;
  margin-bottom: 80px; }

.onglets .tabs-nav .tab {
  display: block;
  background: #bBBBBB;
  color: black;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  .onglets .tabs-nav .tab .tab:first-child {
    margin-top: 5px; }
  .onglets .tabs-nav .tab.tabs-nav-item--active {
    background: #dbddde; }
  .onglets .tabs-nav .tab div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 16px; }

.onglets .tabs-content.tabs-content--inactive {
  display: none; }
