


<!--                     -->
<!-- J'aurais essayé lol -->
<!--                     -->


<head>
    <meta charset="UTF-8">
    <!--caractères spéciaux-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bien afficher clean sur tout les devices
      _                             largeur du mobile  ;   affichage à 100%   -->
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!--compatibilité ? internet explorer edge ?-->

    <!-- Logo font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--====== STYLE CSS ================-->
    <link href="../src/css/style.css" rel="stylesheet" media="all" type="text/css">

    <title>text_columns</title>
</head>

<header>
    <nav>
        <ul>
            <li>
                <div class="logo">
                    <img src="../src/img/doom.png" />
                </div>
            </li>

            <li class="active"> <a href=""> text columns </a> </li>

            <li> <a href="../2_typography.html"> typography </a></li>
            <li> <a href="3_headlines.html"> headlines </a></li>
            <li> <a href="4_buttons.html"> buttons </a></li>
            <li> <a href="5_gradients.html"> gradients </a></li>
            <li> <a href="6_accordions_and_tabs.html"> accordions & tabs </a></li>
            <li> <a href="7_message_boxes.html"> message boxes </a></li>
            <li> <a href="8_text_&_pictures.html"> text & pictures </a></li>

            <li class="violetsquare"> <img src="src/img/phone-call.png" /> </li>
        </ul>
    </nav>

    <div class="bluepad">
        Text columns
    </div>
</header>