@mixin button($bg: black, $br: 0, $tc: white) {

  background: $bg;
  border-radius: $br;
  color: $tc;

  &:hover {
    background:darken($bg,10%);
    transition: all 1s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

@mixin shadow {
-webkit-box-shadow: 0px 20px 25px -27px rgba(0,0,0,0.75);
-moz-box-shadow:    0px 20px 25px -27px rgba(0,0,0,0.75);
box-shadow:         0px 20px 25px -27px rgba(0,0,0,0.75);
}
